.navbar {
  background-color: #275fa8;
}
.navbar a:hover {
  color: gray;
}
.navbar input {
  width: 28rem;
  padding-left: 10px;
  border-radius: 0.8rem;
}

.field {
  position: relative;
}
.field button {
  border-radius: 0.8rem;
  background-color: #e2e2e2;
  position: absolute;
  right: 0px;
}

.navbar-brand {
  padding-left: 375px;
}
.navbar-brand a {
  color: #ffffff;
  font-weight: bold;
}

.navbar-menu {
  padding-right: 375px;
}

a.r-item {
  color: #ffffff;
  padding: 0.5rem 1.75rem;
}

.fa fa-sort-down {
  color: #ffffff;
}
